<%- include('./inc-header.ejs') %>

<table class="content">
    <tr>
        <td align="left">

            <p>
                <b>Hello <%= user.first_name%>,</b>
            </p>

            <p>
                Now you are admin of organisation.
            <p>
                
            <p class="mt-1">
                Thank you,<br />
                Team ABCD
            </p>
        </td>
    </tr>
</table>

<%- include('./inc-footer.ejs') %>

