<%- include('./inc-header.ejs') %>
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="mail-body" style="margin: 0 25px 0 25px;">
                        <p class="font-large">
                            <b>Dear User,</b>
                        </p>

                        <p>Please create an account in ABCD</p>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>

    <%- include('./inc-footer.ejs') %>