<%- include('./inc-header.ejs') %>
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="mail-body" style="margin: 0 25px 0 25px;">
                        <p class="font-large">
                            <b>Hello <%= user_name%>,</b>
                        </p>
                        <p>
                            4 attachments is the maximum limit for analysis
                        </p>

                        <p><b>ABCD</b></p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <%- include('./inc-footer.ejs') %>