<%- include('./inc-header.ejs') %>
    <table align="center">
        <tbody>
            <tr>
                <td class="text-center">
                    <p class="font-large">
                        <b>Dear <%= user_name%>,</b>
                    </p>

                    <p>Please attach the document for analysis.</p>

                </td>
            </tr>
        </tbody>
    </table>
    <%- include('./inc-footer.ejs') %>