<%- include('./inc-header.ejs') %>
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="mail-body" style="margin: 0 25px 0 25px;">
                        <p class="font-large">
                            <b>Dear <%= user_name%>,</b>
                        </p>

                        <p>We will process the document and will get back to you shortly</p>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>

    <%- include('./inc-footer.ejs') %>