<%- include('./inc-header.ejs') %>
    <table>
        <tbody>
            <tr>
                <td class="text-center">
                    <div class="mail-body" style="margin: 0 25px 0 25px;">
                        <p class="font-large">
                            <b>Dear <%= user_name%>,</b>
                        </p>
                        <p>The document to be analyzed cannot be more than 10 MB</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <%- include('./inc-footer.ejs') %>