<%- include('./inc-header.ejs') %>


<table class="content">
    <tr>
        <td align="left">

            <p >
                <b>Dear <%= user.first_name%>,</b>
            </p>

            <p>Your request to add a new organisation has not been accepted. To understand why, please contact the admin at <b><a id="email"
                href="admin@abcd.guide">admin@abcd.guide</a></b>. </p>
                
            <p>The ABCD Team</p>

        </td>
    </tr>
</table>


<%- include('./inc-footer.ejs') %>


                