<%- include('./inc-header.ejs') %>
    <!-- Main -->

    <table class="content">
        <tr>
            <td align="left">

                <p>
                    <b>Dear <%= user.first_name%>,</b>
                </p>

                <p>
                    Your request to add organisation <%= organisation.name %> to Atlas for Behaviour Change in Development platform
                    has been accepted.
                   
                </p>

                <p >
                    You’re all set. Now you can use our tools to run high-quality
                    behavioral interventions in your programs, explore research
                    and knowledge, and connect with organizations in the behavior
                    change for the development community
                </p>
            </td>
        </tr>
    </table>

 <%- include('./inc-footer.ejs') %>