<!-- Footer -->
<table class="primary-footer">
    <tr>
        <td align="center">
            <b id="heading">We're here to help!</b>

            <p>
                To know more about how to use ABCD or to explore institutional partnerships with ABCD, please reach out to us at <b><a href="https://admin@abcd.guide">admin@abcd.guide</a></b> and we will get back shortly.
            </p>
        </td>
    </tr>
</table>

<table class="secondary-footer">
    <tr>
        <td align="center">
            <p>You are receiving this email because you signed up to a new account at <br /><b>The Atlas Of Behavior Change For Development</b></p>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
</body>
</html>