<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" /> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet" /> -->
    <title>ABCD</title>

    <style>
        body,
        table,
        td,
        div,
        h1,
        p {
            font-family: "Fira Sans", sans-serif;
        }

        a {
            text-decoration: none;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
            margin-top: 24px;
        }

        .mt-1 {
            margin-top: 32px;
        }

        .layout {
            /* width: min(820px, 100%); */
            width: 700px;
            margin: auto;
        }

        .header {
            background: #cee3e9;
            width: 100%;
            padding: 20px 80px;
        }

        .content {
            background: #e3ecc4;
            padding: 50px 80px;
            width: 100%;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }

        .content a #email {
            text-decoration: none;
            color: #505050;
        }

        .primary-footer {
            width: 100%;
            background: #cee3e9;
            padding: 20px 80px;
            font-size: 14px;
        }

        .primary-footer #heading {
            color: #277fa8;
        }

        .primary-footer a {
            text-decoration: none;
            color: #505050;
        }

        .secondary-footer {
            width: 100%;
            padding: 20px 80px;
            color: #a7a7a7;
            font-size: 14px;
        }

        .btn {
            cursor: pointer;
            background-color: #f3b649;
            color: black;
            font-weight: bold;
            padding: 12px 28px;
        }
    </style>
</head>

<body>
    <table class="layout">
        <tr>
            <td>
                <table class="header">
                    <tr>
                        <td align="center">
                            <a href="/#">
                                <img src="https://abcddevapi.think201.xyz/public/logo.jpg" width="250px" />
                            </a>
                        </td>
                    </tr>
                </table>