<%- include('./inc-header.ejs') %>

<!-- Main -->

<table class="content">
    <tr>
        <td align="left">
            <p>
                <b>Hi <%= user.first_name%>,</b>
            </p>

            <p>Welcome to The Atlas of Behavior Change in Development!</p>

            <p>
                You are now a part of a community that uses ABCD to design and run behaviorally sensitive programs and
                products.
            </p>

            <p>
                Create your Workspace, learn about the barriers to behavior change, find an expert to connect with and a
                lot more. We're excited to see how the platform features support you in your journey.
            </p>

            <p >The ABCD Team</p>

            <p>
                P.S. We're always looking for feedback and great behavior content. If you have anything to share, please
                write to us.
            </p>
        </td>
    </tr>
</table>

<%- include('./inc-footer.ejs') %>
