<%- include('./inc-header.ejs') %>

<table class="content">
    <tr>
        <td align="left">
            <p>
                <b>Dear <%= user.first_name%>,</b>
            </p>
                
            <p>
                <b>Welcome to Atlas for Behavior Change in Development program! </b>
            </p>
                
            <p>You have been rejected from organisation please contact for more information.</p>
        </td>
    </tr>
</table>

<%- include('./inc-footer.ejs') %>