<%- include('./inc-header.ejs') %>

    <table class="content">
        <tr>
            <td align="left">

                <p>
                    <b>Hello <%= user.first_name%>,</b>
                </p>

                <p>
                    You've initiated a password reset process, Please click on the following link to
                    continue with the process
                <p>

                <p class="mt-1">
                    <a href="<%= reset_link%>" class="btn"> Reset password </a>
                </p>
                
            </td>
        </tr>
    </table>

    <%- include('./inc-footer.ejs') %>